@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --focus-color: #422d5e;
  --short-color: #2698ac;
  --long-color: #8a2d7a;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--focus-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.option-button.focus-on {
   &[data-selected='true'] {
    font-weight: 700;
    background-color: var(--focus-color);
  }
}

.option-button.short-break {
  &[data-selected='true'] {
    font-weight: 700;
    background-color: var(--short-color); 
  }
}

.option-button.long-break {
  &[data-selected='true'] {
    font-weight: 700;
    background-color: var(--long-color);
  }
}

#App {
  min-height: 100vh;
}

#App.focus-on { 
  background-color: var(--focus-color);
}

#App.short-break {
  background-color: var(--short-color); 
}

#App.long-break {
  background-color: var(--long-color);
}

#close-modal, #save-button {
  color: #808080;
  background-color: #eeececcb;
}

.modal-input {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  background-color:#eeececcb ;
  border-radius: 5px;
  border: none;
  outline: none;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: gray;
}

.modal-interval {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  label {
    font-size: 1.1rem;
    font-weight: 600;
  }
  input {
    width: 70px;
  }
}
#start-button {
  color: #422d5e;
  font-weight: bold;
}

.box-shadow {
  box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, .35) , 4px -3px 10px 0 rgba(255, 255, 255, .2);
}

.text-shadow {
  text-shadow: -4px 4px 10px  rgba(0, 0, 0, .35), 4px -2px 10px rgba(255, 255, 255, .2);
  /* text-shadow: -4px 4px 10px 0 rgba(0, 0, 0, .35) , 4px -4px 10px 0 rgba(255, 255, 255, .2); */
}